@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Ovo');
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  /*background-color: #2E334A;
  cursor: url("../image/cursor.png");*/
  background-image: url("../image/bg5.jpg");
  background-color: #2E334A;
  background-size: cover;
}

p {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    line-height: 1.7em;
    color: #E6E6E6;
    letter-spacing: 0.05em;
}

.hero-tomjenny {
  padding: 150px 0 240px 0;
}

.center {
  margin: auto 0;
  text-align: center;
}

.title-tomjenny {
  // font-family: 'PT Serif', serif;
  font-size: 35px;
  color: #E2C675;
  // font-family: 'Halant', serif;
  font-family: 'Ovo', serif;

}

.subtitle-tomjenny {
  letter-spacing: 0.4em;
  color: #E2C675;
  border: 1px #e2c675 solid;
  padding: 15px 15px 15px 15px;
  width: 370px;
  margin: 9px auto;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
}

.title-tomjenny-two {
  // font-family: 'PT Serif', serif;
  font-size: 35px;
  color: #E2C675;
  // font-family: 'Halant', serif;
  font-family: 'Ovo', serif;
  letter-spacing: 10px;
  color: white;
}

.title-tomjenny-two span {
  // font-family: 'PT Serif', serif;
  font-size: 35px;
  color: #E2C675;
  // font-family: 'Halant', serif;
  font-family: 'Ovo', serif;
  letter-spacing: 10px;
  color: #E2C675;
  font-weight: 400;
}

.subtitle-tomjenny-two {
  letter-spacing: 0.4em;
  color: #E2C675;
  /* border: 1px #e2c675 solid;
  padding: 15px 15px 15px 15px;
  width: 370px; */
  margin: 9px auto;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
}

@media (max-width: 600px) {
  .subtitle-tomjenny {
    width: 270px;
  }
}

#proposal {
    background-image: url("../image/bg-proposal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 960px) {
  #proposal {
      background-image: none;
  }
}

#details {
  /*position: relative;
  margin: auto 0;
  width: 100%; /* for IE 6 */
  background-image: url("../image/details2.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.details-p {
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.white {
  color: white !important;
}

.bold{
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.details-bg {
  background-image: url("../image/creampaper.png");
  background-repeat:repeat;
  background-color: white;
  padding: 90px 25px 100px 25px;
  max-width: 750px;
  margin: 80px auto 0px auto;
}

.details-bg-two {
  background-image: url(../image/creampaper.png);
  background-repeat: repeat;
  background-color: white;
  padding: 63px 25px 0px 25px;
  max-width: 750px;
  margin: 60px auto 0px auto;
}

@media (max-width: 720px) {
  .details-bg {
  margin: 40px 15px 0px 15px;
  }
  body {
    /*background-color: #2E334A;
    cursor: url("../image/cursor.png");*/
    background-image: url("../image/responsivemail.jpg");
    background-color: #2E334A;
    background-size: cover;
    background-position: left bottom;
  }
}

.proposal {
  padding: 90px 25px 100px 25px;
  max-width: 750px;
  color: white;
}

.googlecalendar {
  /*margin: 30px 0 0 0;
  background-color: #e2c675;
  border: none;
  padding: 25px 25px 25px 25px;
  border-radius: 0px;*/
}

.p-link {
  color: #e2c675;
}

.p-link:hover {
  color: #af995b;
  border-bottom: 1px solid #af995b;
}

.p-link-dark {
  color: black;
}

.p-link-dark:hover {
  color: black;
  border-bottom: 1px solid #af995b;
}

.nav-link {
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0.1em;
  color: #e2c675;
  font-size: 20px;
  list-style: none;
  padding-left: 30px;
}

.navbar-brand {
  flex-wrap: wrap;
}

.nav-link:hover {
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0.1em;
  color: #af995b;
  list-style: none;
  padding-left: 30px;
}

.navsbar {
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .navsbar {
    padding-left: 0;
  }
}

.nav-li {
  list-style: none;
  margin-top: 18px;
  flex-wrap: wrap;
  flex-direction: column;
  width: auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 600px) {
  .menu {
    width: 100%;
  }
  .menu-link {
    width: 100%;
  }
}

.menu-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  width: 100px;
  padding: 15px 0;
  /* height: auto; */
}

.gold {
  color: #e2c675;
  font-size: 22px;
  /*// font-family: 'Halant', serif;
  // font-family: 'Ovo', serif;*/
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.dark-gold {
  color: #af995b;
  font-size: 22px;
  /*// font-family: 'Halant', serif;
  // font-family: 'Ovo', serif;*/
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  letter-spacing: 0.1em;
}

sup {
  top: -.15em;
  vertical-align: top;
}

.stamp img{
  width: 250px;
  margin: 120px 0 0 0;
  padding-bottom: 40px;
}

// SLIDER

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin:auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  background-color: #e2c675;
  color: white;
}

/* Position the "next button" to the right */
.next {
  background-color: #e2c675;
  right: 0;
  border-radius: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #af995b;
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  background-image: url("../image/flower.png");
  background-size: 25px;
  height: 35px;
  width: 25px;
  margin: 0 2px;
  // background-color: #bbb;
  // border-radius: 50%;
  // transition: background-color 0.6s ease;
  display: inline-block;
}

.active, .dot:hover {
  // background-color: #717171;
  cursor:pointer;
  background-image: url("../image/flower2.png");
  background-size: 25px;
  height: 35px;
  width: 25px;
  margin: 0 2px;
  // background-color: #bbb;
  // border-radius: 50%;
  // transition: background-color 0.6s ease;
  display: inline-block;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/**
 * AddToCalendar Blue Style
 * http://addtocalendar.com
 */

/* Base */

.addtocalendar var{
    display: none;
}

.addtocalendar {
    position: relative;
    display: inline-block;
    background: transparent!important;
}

.atcb-link {
    display: block;
    outline: none!important;
    cursor: pointer;
}

.atcb-link:focus~ul,
.atcb-link:active~ul,
.atcb-list:hover{
    visibility:visible;
}

.atcb-list {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    z-index: 900;
}

.atcb-list,
.atcb-item
{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}

.atcb-item {
    float: none;
    text-align: left;
}

.atcb-item-link
{
    text-decoration: none;
    outline: none;
    display: block;
}

.atcb-item.hover,
.atcb-item:hover {
    position: relative;
    z-index: 900;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}


/* Blue */

.atc-style-blue .atcb-link,
.atc-style-blue .atcb-link:hover,
.atc-style-blue .atcb-link:active,
.atc-style-blue .atcb-link:focus
{
    margin: 20px 0 0 0;
    padding: 15px 32px;
    color: #2E334A;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    text-decoration: none;
    outline: none;
    line-height: 20px;
    vertical-align: middle;
    background: #e2c675;
    box-shadow: 0 0 40px rgba(0, 0, 0, .13) inset;
    zoom: 1;
}

.atc-style-blue .atcb-list {
    width: 200px;
}

.atc-style-blue .atcb-list,
.atc-style-blue .atcb-item
{
    background: #fff;
    color: #000;
}

.atc-style-blue .atcb-item,
.atc-style-blue .atcb-item-link
{
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1;
}

.atc-style-blue .atcb-item-link,
.atc-style-blue .atcb-item-link:hover,
.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus
{
    color: #000;
    font-family: "Verdana";
    font-size: 14px;
    text-decoration: none;
    outline: none;
    padding: 5px 15px;
}

.atc-style-blue .atcb-item-link:hover,
.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus
{
    color: #fff;
}

.atc-style-blue .atcb-item.hover,
.atc-style-blue .atcb-item:hover {
    background: #af995b;
}

.custom {
  cursor: url("./images/cursor.png"), auto;
}

#rsvp {
  margin-top: 20px;
}

.rsvp-footer {
  padding: 20px 0 50px 0;
}

.rsvp-footer span {
  color: #af995b;
  font-weight: 600;
}

.rsvp-button {
  background-color: #e2c675;
  padding: 10px 20px;
  letter-spacing: 2px;
  color: #2E334A;
}
.rsvp-button:hover{
  background-color: #af995b;
  color: #2E334A;
}

.wedding-party {
  max-width: 900px;
  margin: 0 auto;
}

.party-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.groom .bridge{

}

.person{
  margin: 15px 15px 15px 0;
}

.party-container img {
  width: 400px;
  height: auto;
}
